<h1>Welcome</h1>

<!-- <%=users%> -->

<br><br> <a href="">Book your spot</a> <br> <br>

<br><br> <a href="">Find a spot</a> <br><br>


<% for (var i in users){%>
	<ul>
		<li>First Name: <%= users[i].f_name %></li>
		<li>Last Name: <%= users[i].l_name %></li>
		<li>User Name: <%= users[i].u_name %></li>
		<li>Email: <%= users[i].email %></li>



	</ul>
	

<%}

 %> 


					